body {
    background-color:gainsboro;
}

.column{
    display: inline-block;
    position: relative;
    width: 14.10%;
    outline: solid;
    text-align: center;
    outline-color: black;
    background-color: skyblue;
}

#updateDatabse{
    display: inline-block;
    clear: both;
}
