@font-face{
    font-family: MyriadPro;
    src: url(fonts/MyriadPro-Regular.otf);
}

@font-face{
    font-family: ModerneSans;
    src: url(fonts/Moderne-Sans.ttf);
}

@font-face{
    font-family: Simplifica;
    src: url(fonts/Simplifica.ttf);
}

@font-face{
    font-family: Code-Light;
    src: url(fonts/Code-Light.otf);
}

@font-face{
    font-family: Code-Bold;
    src: url(fonts/Code-Bold.otf);
}

@font-face{
    font-family: Cloud-Light;
    src: url(fonts/Cloud-Light.otf);
}

@font-face{
    font-family: Placeholder;
    src: url(fonts/Placeholders/Cloud-Light.otf);
}

::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
    color: white;
}
    a:visited{
        text-decoration: none;
    }

    a:hover{
        text-decoration: none;
        color: rgb(125, 25, 25);
    }

body {
    /*background-color:gainsboro;*/
    /*background-color: #326ec2;*/
    /*background-color: #36a432;*/
    background-color: #f6d4c6;
    height: 100%;
    /*overflow-y: hidden;*/
}

caption{
    color: rgb(125, 25, 25);
    background-color: inherit;
    /*border-bottom: 2px solid rgb(125, 25, 25);*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
}

html{
    height: 100%;
}

input[type=range]{
    width: 30%;
}

table{
    width: 40%; 
    margin-top: 3%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 4%;
    padding-left: 4%;
    /*font-size: 120%;*/
    font-size: 1vw;
    font-family: MyriadPro, Cloud-Light, sans-serif;
    margin-bottom: 20%;
}

td{
    padding-bottom: -100px;
}
    td:nth-child(1){
        text-align: left;
    }

    td:nth-child(2){
        text-align: right;
    }

.cardTitle{
    text-decoration: underline;
    margin-bottom: 3%;
    display: block;
    text-align: left;
}

.column{
    display: inline;
    width: 31%;
}
    #leftColumn{
        float: left;
        width: 33%;
    }

    #middleColumn{
        /*position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;*/
        float: left;
        margin-left: 1.3%;
        width: 33%;
    }

    #rightColumn{
        float: right;
    }

.contentCard{
    display: inline;
    padding: 1%;
    padding-bottom: 0.5%;
    padding: 2% 2% 0% 2%;
    margin-bottom: 3%;
    float: left;
    font-family: MyriadPro;
    font-size: 100%;
    text-align: left;
}
    .red{
        background-color: #ED4337;
    }

    .green{
        background-color: #C0D890;
    }

    .yellow{
        background-color: #FFFF99;
    }

    .purple{
        background-color: #B19CD9;
    }

.contentCard > #formsWrapper > input{
    width: 97.7%;
    margin-left: .2%;
    margin-bottom: 2%;
    font-size: 150%;
}
    .contentCard > #formsWrapper > button{
        width: 99.2%;
        margin-left: 0.3%;
        margin-bottom: 2%;
    }

    .contentCard > #formsWrapper{
        margin-top: 0%;
    }

.contentTag{
    display: inline-block;
    width: initial;
    color: black;
    filter: brightness(150%);
    padding: 2%;
    margin-right: 2%;
    margin-bottom: 2%;

    transition: 0.5s;
}
    .contentTag:hover{
        color: white;

        transition: 0.5s;
    }

    .darkRed{
        background-color: #bb1d11;
    }    

    .darkGreen{
        background-color: #94bd42;
    }

    .darkYellow{
        background-color: #e6e600;
    }

    .darkPurple{
        background-color: #6e46b9;
    }

.form{
    display: inline;
    width: 22%;
    font-size: 160%;
    background-color: white;
    border: 2px solid white;
    border-radius: 0px;
    padding: .2% 0% .2% .5%;
    outline: none;
    margin-top: .4%;
    color: rgba(0, 0, 0, .3);

    transition: 0.5s linear;
}
    .form:focus{
        color: rgba(0, 0, 0, 1);
        border: 2px solid black;

        transition: 0.5s linear;
    }

    ::-webkit-input-placeholder {
         color: rgba(0, 0, 0, .3);
    }
    :-moz-placeholder {
        color: rgba(0, 0, 0, .3);
       opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(0, 0, 0, .3);
       opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(0, 0, 0, .3);
    }

.formText{
    display: inline-block;
    width: 15%;
    font-family: MyriadPro;
    font-size: 100%;
    visibility: hidden;
}

.icon{
    display: inline-block;
    width: 12%;
    margin-top: 2%;
    /*margin-right: 10%;*/
}

.job{
    margin-left: .2%;
}

.menuItem{
    padding: 10px 10px 10px 10px;
    transition: 0.5s;
    width: 93%;
}
    .menuItem:hover{
        background-color: #1d3454;
        cursor: pointer;
        width: 93%;

        transition: 0.5s;
    }

.salary{
    width: 15%;
    text-align: left;
}

.searchForm{
    display: inline;
    width: 79%;
    font-size: 100%;
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid rgba(255, 255, 255, .05);
    padding: .8% 2% .8% 2%;
    vertical-align: middle;
    margin-top: -7.5%;
    margin-left: 3%;
    border-radius: 20px;
    outline: none;
    color: rgba(0, 0, 0, .3);

    transition: 0.5s;
}
    .searchForm:hover{
        color: white;

        transition: 0.5s;
    }

    .searchForm:focus{
        color: black;

        transition: 0.5s;
    }

.skill{
    margin-left: .5%;
}

.title{
    display: block;
    text-align: center;
    font-size: 9vw;
    margin-top: 6%;
    color: black;
    font-family: Code-Light;
}

#associatedTags{
    width: 96%;
}

#averageSalary{
    display: block;
}

#exploreTitle{
    display: inline;
    margin-left: 1%;
    font-family: Code-Bold;
}

#formsWrapper{
    margin-top: 10%;
}

#homeContent{
    width: 67%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#homeLink{
    font-size: 100%;
    padding: .8% 2% .8% 2%;
    margin-left: 3%;
    color: white;

    transition: 0.5s;
}
    #homeLink:hover{
        color: rgba(255, 255, 255, .5);

        transition: 0.5s;
    }

#indexTitle{
    margin-top: -3%;
    font-family: Code-Light, 'Modern No. 20';
    font-size: 4vw;
}

#insertNewEntry{
    margin-left: 1%;
}

#jobStatsTable{
    color: white;
    margin-left: 0%;
    width: 100%;
    /*display: inline-table;*/
}

#jobTitle{
    display: inline;
    font-family: Code-Light;
}

#main{
    width: 65%;
}

#menuWrapper{
    height: 98.5%;
    position: fixed;
    background-color: #365176;
    width: 15%;
    top: .8%;
    color: white;
    font-family: MyriadPro;
    font-size: 1.1vw;
    /*border: 2px solid #1d3454;*/
}

#skillStatsTable{
    color: white;
    width: 100%;
    /*display: inline-table;*/
}

#tableWrapper{
    top: .8%;
    margin-left: 84.1%;
    height: 98.5%;
    position: fixed;
    display: block;
    width: 15%;
    background-color: #b96649;
    border-radius: 0px;
    text-align: center;
    /*border: 2px solid rgb(125, 25, 25);*/
}

#updateDatabase{
    display: inline-block;
    margin-top: .5%;
    background-color: rgb(42, 177, 74);
    border: 2px solid rgba(28, 184, 65, .1);
    outline: none;
    border-radius: 0px;
    color: white;
    width: 46.5%;
    font-size: 150%;
    padding: .4% 0% .4% 0%;
    font-family: MyriadPro;
    position: relative;

    transition: 0.5s linear;
}

    #updateDatabase:enabled:hover{
        background-color: rgb(0, 195, 46);
        cursor: pointer;
        padding-right: .5%;

        transition: 0.5s linear;        
    }

    #updateDatabase:enabled:hover::after{
        /*content: " ➤";*/        
        content: "  →";
    }

    #updateDatabase:disabled{
        background-color: rgba(42, 177, 74, .5);
    }
