@font-face{
    font-family: MyriadPro;
    src: url(fonts/MyriadPro-Regular.otf);
}

@font-face{
    font-family: ModerneSans;
    src: url(fonts/Moderne-Sans.ttf);
}

body {
    /*background-color:gainsboro;
    background-color: #326ec2;*/
    /*background-color: #36a432;*/
    background-color: #e8c938;
}

.form{
    display: inline;
    width: 15%;
    font-size: 150%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 0px;
    padding: .2% 0% .2% 1%;
    outline: none;
    /*border-bottom: 2px solid;*/
    color: rgba(0, 0, 0, .3);
}
    .form:focus{
        color: black;
        border: 2px solid rgb(209, 17, 17);
    }

.formText{
    display: inline-block;
    width: 15%;
    font-family: ModerneSans;
    font-size: 100%;
    visibility: hidden;
}

.skill{
    margin-left: .5%;
}

#formsDiv{
    text-align: center;
    margin-top: 20%;
}

#main{
    background-color: white;
    width: 75%;
    height: 99vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: -.5%;
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.3), 0 12px 30px 0 rgba(0, 0, 0, 0.3);
}

#title{
    text-align: center;
    font-size: 500%;
    border-bottom: 2px solid;
    font-family: MyriadPro;
}

#updateDatabase{
    display: inline-block;
    margin-top: .9%;
    clear: both;
    background-color: rgb(28, 184, 65);
    border: 2px solid rgba(28, 184, 65, .1);
    outline: none;
    border-radius: 0px;
    padding: .8% 12.99% .8% 12.99%; 
}


