@font-face{
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face{
    font-family: ModerneSans;
    src: url(../fonts/Moderne-Sans.ttf);
}

@font-face{
    font-family: Simplifica;
    src: url(../fonts/Simplifica.ttf);
}

@font-face{
    font-family: Code-Light;
    src: url(../fonts/Code-Light.otf);
}

@font-face{
    font-family: Code-Bold;
    src: url(../fonts/Code-Bold.otf);
}

@font-face{
    font-family: Cloud-Light;
    src: url(../fonts/Cloud-Light.otf);
}

@font-face{
    font-family: Placeholder;
    src: url(../fonts/Placeholders/Cloud-Light.otf);
}

::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
    color: white;
}
    a:visited{
        text-decoration: none;
    }

    a:hover{
        text-decoration: none;
        color: rgb(125, 25, 25);
    }

body {
    /*background-color:gainsboro;*/
    /*background-color: #326ec2;*/
    /*background-color: #36a432;*/
    background-color: #f6d4c6;
    height: 1080px;
}

td:nth-child(1){
    text-align: left;
}
    td:nth-child(2){
        text-align: right;
    }

.form{
    display: inline;
    width: 284px;
    font-size: 25px;
    background-color: white;
    border: 2px solid white;
    border-radius: 0px;
    padding: 2px 0px 2px 6px;
    outline: none;
    margin-top: 6px;
    color: rgba(0, 0, 0, .3);

    transition: 0.5s linear;
}
    .form:focus{
        color: rgba(0, 0, 0, 1);
        border: 2px solid black;

        transition: 0.5s linear;
    }

    ::-webkit-input-placeholder {
        color: rgba(0, 0, 0, .3);
    }
    :-moz-placeholder {
        color: rgba(0, 0, 0, .3);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(0, 0, 0, .3);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(0, 0, 0, .3);
    }

.icon{
    display: inline-block;
    width: 33px;
}

.job{
    margin-left: 3px;
}

.main{
    display: inline;
    width: 1248px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menuItem{
    padding: 15px 10px 10px 10px;
    transition: 0.5s;
    width: 268px;
}
    .menuItem:hover{
        background-color: #1d3454;
        cursor: pointer;

        transition: 0.5s;
    }

.salary{
    width: 200px;
    text-align: left;
}

.searchForm{
    display: inline-block;
    width: 212px;
    font-size: 21.2px;
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid rgba(255, 255, 255, .05);
    padding: 3px 5px 3px 5px;
    vertical-align: middle;
    margin-top: -20px;
    margin-left: 8px;
    border-radius: 20px;
    outline: none;
    color: rgba(0, 0, 0, .3);

    transition: 0.5s;
}
    .searchForm:hover{
        color: white;

        transition: 0.5s;
    }

    .searchForm:focus{
        color: black;

        transition: 0.5s;
    }

.skill{
    margin-left: 6px;
}

.title{
    display: block;
    text-align: center;
    font-size: 175px;
    margin-top: 75px;
    color: black;
    font-family: Code-Light;
}

#exploreTitle{
    display: inline;
    margin-left: -60px;
    font-family: Code-Bold;
}

#jobStatsTable{
    color: white;
    width: 290px;
}

#jobTitle{
    display: inline;
    font-family: Code-Light;
}

#menuWrapper{
    height: 965px;
    position: fixed;
    background-color: #365176;
    width: 288px;
    top: 7px;
    left: 7px;
    color: white;
    font-family: MyriadPro;
    font-size: 21.2px;
    /*border: 2px solid #1d3454;*/
}

#skillStatsTable{
    color: white;
    width: 290px;
}

#tableWrapper{
    height: 965px;
    position: fixed;
    background-color: #b96649;
    width: 288px;
    top: 7px;
    right: 7px;
    display: block;
    text-align: center;
    /*border: 2px solid rgb(125, 25, 25);*/
}

#updateDatabase{
    display: inline-block;
    margin-top: 6px;
    background-color: rgb(42, 177, 74);
    border: 2px solid rgba(28, 184, 65, .1);
    border-radius: 0px;
    color: white;
    width: 598px;
    font-size: 21.2px;
    padding: 5px 0px 5px 0px;
    font-family: MyriadPro;
    position: relative;

    transition: 0.5s linear;
}

    #updateDatabase:enabled:hover{
        background-color: rgb(0, 195, 46);
        cursor: pointer;
        /*padding-right: .5%;*/

        transition: 0.5s linear;        
    }

    #updateDatabase:enabled:hover::after{
        /*content: " ➤";*/        
        /*content: "  →";*/
    }

    #updateDatabase:disabled{
        background-color: rgba(42, 177, 74, .5);
    }
